/* Group Selectors */

body{
  padding-top: 65px;
  background-color: #e3f2fd;
  background-image: url('../imgs/bg.jpg');
  background-size: cover;
}

ul{
    list-style-type: none;
    padding: 0px;
}

/* Bootstrap enhancement */

.navbar-header{
    float: left;
    padding: 15px;
    text-align: center;
    width: 100%;
}
.navbar-brand{
  float:none;
  color: #fff;
}

.panel-heading {
  overflow: hidden;
}

.panel-body{
  background-color: #99ccff;
  transition: all linear 0.5s;
}

.ng-hide{
  height: 0;
}

.card{
  padding: 5px;
  margin: 0 0 10px;
  text-align: center;
  word-break: break-all;
}

.card-title{
  clear: both;
}

/* Multi purpose */

.text-center{
  text-align: center;
}

/* Custom classes */

.opaque{
  background-color: rgba(0, 0, 0, 0.5);
}

.hovering-add-list{
  position: fixed;
  right: 10px;
  bottom: 0;
  font-size: 70px;
  color: #ffcf00;
  cursor: pointer;
}

.list-title{
  font-weight: bold;
  font-size: 20px;
  float: left;
  max-width: 145px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  cursor: pointer;
}

.list-title:hover{
  text-decoration: underline;
}

.list-buttons{
  float: right;
  font-size: 24px;
  margin: 2px;
  cursor: pointer;
}

.list-buttons:hover{
  color: black;
}

.card-button{
  float: right;
  margin-left: 5px;
  margin-bottom: 10px;
  cursor: pointer;
}

.list-modal{
  width:350px;
  height: 210px;
  padding: 15px;
  border-radius: 5px;
}

.card-modal{
  width:350px;
  height: 290px;
  padding: 15px;
  border-radius: 5px;
}

.no-list{
  color: white;
  margin-top: 15%;
}
