/* Group Selectors */

body{
  padding-top: 65px;
  background-color: #e3f2fd;
}

ul{
    list-style-type: none;
    padding: 0px;
}

/* Bootstrap enhancement */

.navbar-header{
    float: left;
    padding: 15px;
    text-align: center;
    width: 100%;
}
.navbar-brand{
  float:none;
}

.panel-heading {
  overflow: hidden;
}

.panel-body{
  background-color: #99ccff;
}

.card{
  padding: 5px;
  margin: 0 0 10px;
  text-align: center;
  word-break: break-all;
}

.card-title{
  clear: both;
}

/* Multi purpose */

.text-center{
  text-align: center;
}

/* Custom classes */

.hovering-add-list{
  position: fixed;
  right: 10px;
  bottom: 0;
  font-size: 70px;
  color: #3399ff;
  cursor: pointer;
}

.list-title{
  font-weight: bold;
  font-size: 20px;
  float: left;
  max-width: 145px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.list-buttons{
  float: right;
  font-size: 24px;
  margin: 2px;
  cursor: pointer;
}

.list-buttons:hover{
  color: black;
}

.card-button{
  float: right;
  margin-left: 5px;
  margin-bottom: 10px;
  cursor: pointer;
}
