<!DOCTYPE html>
<html ng-app="NoTrello">
  <head>
    <meta charset="utf-8">
    <title>NoTrello</title>
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
    <link href="lib/css/ng-modal.css" rel="stylesheet">
    <link href="lib/css/angular-drag-and-drop-lists.css" rel="stylesheet">
    <link href="css/custom.css" rel="stylesheet">
  </head>
  <body ng-controller="MainCtrl">
    <nav class="navbar navbar-fixed-top navbar-light opaque">
      <div class="container">
        <div class="navbar-header">
          <a class="navbar-brand" href="#">NoTrello</a>
        </div>
      </div>
    </nav>

    <div class="container" ng-init="loadData()">
      <h2 ng-show="lists.length == 0" class="text-center no-list">Nenhuma lista criada.<br> Clique no botão <span class="glyphicon glyphicon-plus-sign" style="color: #ffcf00;"></span> abaixo para adicionar uma nova lista!</h2>
      <div class="row">
        <div class="col-md-12">
          <div class="row">
            <div class="col-md-3" ng-repeat="list in lists">
              <div class="panel panel-primary">
                <div class="panel-heading text-center">
                  <div class="list-title">{{list.Lista}} {{list.ID_Lista}}</div>
                  <div class="glyphicon glyphicon-circle-arrow-up list-buttons" ng-show="list.slide" ng-click="slideToggle(list)"></div>
                  <div class="glyphicon glyphicon-circle-arrow-down list-buttons" ng-show="!list.slide" ng-click="slideToggle(list)"></div>
                  <div class="glyphicon glyphicon-remove-sign list-buttons" ng-click="toggleListModal('remove', list.ID_Lista)"></div>
                  <div class="glyphicon glyphicon-plus-sign list-buttons" ng-show="list.slide" ng-click="toggleCardModal('insert', list.ID_Lista, -1)"></div>
                </div>
                <div class="panel-body" ng-show="list.slide">
                  <div ng-show="list.Cards.length == 0" class="text-center">Lista vazia. Clique no botão <span class="glyphicon glyphicon-plus-sign"></span> acima para adicionar um novo cartão ou arreste um cartão existente!</div>
                  <ul dnd-list="list.Cards">
                    <li ng-repeat="card in list.Cards" dnd-draggable="card" dnd-moved="cardMoving(card, list)" dnd-effect-allowed="move" dnd-selected="card" style="background-color: {{card.Cor_Card}}">
                      <div class="card">
                        <div class="card-block">
                          <div class="glyphicon glyphicon-remove-sign card-button" ng-click="toggleCardModal('remove', list.ID_Lista, card.ID_Card)"></div>
                          <div class="glyphicon glyphicon-pencil card-button" ng-click="toggleCardModal('edit', list.ID_Lista, card.ID_Card)"></div>
                            <h4 class="card-title">{{card.Card}} {{card.ID_Card}}</h4>
                        </div>
                      </div>
                    </li>
                  </ul>
                </div>
              </div>
            </div>
          </div>

      <div class="hovering-add-list">
        <div class="glyphicon glyphicon-plus-sign" ng-click="toggleListModal('insert', -1)"></div>
      </div>
    </div> <!-- /container -->

    <modal-dialog show='listModal' width='350px'>
      <div ng-show="insertListModal" class="list-modal">
        <form role="form" ng-submit="createList(list)">
          <div class="form-group">
            <label for="cardTitle">Título da Lista</label>
            <input type="text" id="listTitle" placeholder="Título" ng-model="list.Lista" class="form-control" required>
          </div>
          <div class="text-center"><button type="submit" class="btn btn-primary">Criar</button></div>
        </form>
      </div>
      <div ng-show="removeListModal" class="list-modal">
        <div class="form-group">
          <div class="text-center"><h3>Confirma exclusão?</h3></div>
          <div class="text-center"><button type="button" ng-click="removeList(actualList)" class="btn btn-danger">Excluir</button></div>
        </div>
      </div>
    </modal-dialog>

    <modal-dialog show="cardModal" width="350px">
      <div ng-show="insertCardModal" class="card-modal" style="background-color: {{card.Cor_Card}};">
        <form role="form" ng-submit="createCard(card)">
          <div class="form-group">
            <label for="cardTitle">Texto do Card</label>
            <textarea id="cardTitle" placeholder="Texto" ng-model="card.Card" class="form-control" required></textarea>
          </div>
          <div class="form-group">
            <label for="cardColor">Cor do Card</label>
            <input type="color" id="cardColor" placeholder="Cor" ng-model="card.Cor_Card" class="form-control" required>
          </div>
          <div class="text-center"><button type="submit" class="btn btn-primary">Criar</button></div>
        </form>
      </div>
      <div ng-show="editCardModal" class="card-modal" style="background-color: {{cardCopy.Cor_Card}};">
        <form role="form" ng-submit="editCard(cardCopy)">
          <div class="form-group">
            <label for="cardCopyTitle">Texto do Card</label>
            <textarea id="cardCopyTitle" placeholder="Texto" ng-model="cardCopy.Card" class="form-control" required></textarea>
          </div>
          <div class="form-group">
            <label for="cardCopyColor">Cor do Card</label>
            <input type="color" id="cardCopyColor" placeholder="Cor" ng-model="cardCopy.Cor_Card" class="form-control" required>
          </div>
          <div class="text-center"><button type="submit" class="btn btn-primary">Editar</button></div>
        </form>
      </div>
      <div ng-show="removeCardModal" class="card-modal" style="background-color: {{actualCard.Cor_Card}};">
        <div class="form-group">
          <div class="text-center"><h3>Confirma exclusão?</h3></div>
          <div class="text-center"><button type="button" ng-click="removeCard(actualCard)" class="btn btn-danger">Excluir</button></div>
        </div>
      </div>
    </modal-dialog>

    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.8/angular.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
    <script src="lib/js/angular-drag-and-drop-lists.min.js"></script>
    <script src="app/notrello.js" type="text/javascript"></script>
    <script src="app/controllers/main.js" type="text/javascript"></script>
    <script src="app/directives/modal.js" type="text/javascript"></script>
  </body>
</html>
